.everything
{
  justify-content: center;
  background-color: white;
}
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;

}

/* Common styles for titles */
.title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333; /* Darker title color */
}

/* Input styles */
.input {
  display: flexbox;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 12px;
  width: 961px; /* Limit the maximum width */
}

/* Highlight input elements on focus */
.input:focus {
  outline: none;
  border-color: #007bff; /* Highlight color */
}

/* Textarea styles */
.problem, .abstract, .article {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 12px;
  width: 100%;
  width: 1010px;
  margin: 10px auto;
  height: 100px;
  resize: none;
  transition: border-color 0.3s ease-in-out;
}

/* Highlight textarea elements on focus */
.problem:focus, .abstract:focus, .article:focus {
  outline: none;
  border-color: #007bff;
}

/* Style for the Select Post Type section */
.select {
  display: flex; /* Use Flexbox to align items in a row */
  align-items: center; /* Vertically align items in the center */
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 1px;
}

.select input[type='radio'] {
  margin-right: 5px;
}

/* Optionally, you can style the labels */
.select label {
  margin-right: 10px; /* Add some spacing between the radio buttons and labels */
}


/* Button styles */
.pl {
  background-color: #007bff;
  color: white;
  border: none;
  letter-spacing: 1px;
  width: 150px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Responsive styling for the button */
@media screen and (max-width: 600px) {
  .pl {
    width: 100%;
    margin-right: 0;
  }
}

/* Hover effect for the button */
.pl:hover {
  background-color: #0056b3;
}
.form1
{
  display: flex;
  width: 1000px;
  flex-direction: row;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2%;
}
.tags
{ 
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333; 
  
  
}